{
  "mail": {
    "transport": "SMTP",
    "transport_options": {
      "service": "gmail",
      "user": "SOMENAME",
      "pass": "SOMEPASS"
    },
    "mail_options": {
      "from": "SOMEPASS"
    }
  }
  "log": {
    "transport": "File"
  }
}
