{{> top }}

<nav class="top-bar" data-topbar>

  <ul class="title-area">
    <li class="name"><h1><a href="#">{{ app-title }}</a></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-form"><a href="#" class="button small">New mail</a></li>
    </ul>
  </section>

</nav>

<form id="main-form" action="/" data-abide>
  <div id="main-form-container" class="row">
    <div class="medium-10 columns">
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><label>Send to</label></span>
            </div>
            <div class="small-10 columns">
              <input name="sendTo" type="email" placeholder="E-mail address" required>
              <small class="error">A valid email address is required.</small>
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><label>Reply to</label></span>
            </div>
            <div class="small-10 columns">
              <input name="replyTo" type="email" placeholder="E-mail address">
              <small class="error">Invalid email address.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 large-1 columns">
          <span class="prefix"><label>Subject</label></span>
        </div>
        <div class="small-10 large-11 columns">
          <input name="subject" type="text">
        </div>
      </div>
    </div>
    <div id="main-form-buttons" class="medium-2 columns">
        <input id="main-form-submit" type="submit" class="button small" value="Send mail" />
        <input type="button" class="button small secondary" value="Reset form" />
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>HTML content</label>
      <textarea id="html-container" name="htmlContent"></textarea>
    </div>
  </div>
</form>


{{> bottom }}
